* {
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: gray;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}

#background {
    background-image: url("https://preview.redd.it/0l2olj808ej61.png?width=3200&format=png&auto=webp&s=2c43ea878f34041b12267def4330359b39d3c6f6");
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: flex-end;
    margin-right: 2vmin;
    align-items: center;
    width: 32vmin;
}

#spaceman {
    background-image: url('');
    background-repeat: no-repeat;
    margin-left: 2vmin;
    border-image-width: 0;
    width: 337px;
    height: 460px;
}

#replay {
    background-color: #80ED99;
    border-radius: 20%;
    grid-column: span 3;
    margin: 0% 0% 0% 46.5%;
    width: 15vmin;
    height: 6vmin;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 4vmin;
    grid-column: span 3;
    text-align: center;
    color: white;
}

#guess {
    grid-column: span 1;
    letter-spacing: 3vmin;
    line-height: 12vmin;
    font-size: 6vmin;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 8vmin;
    grid-column: span 3;
    text-align: center;
    color: white;
}

#board button {
    border-radius: 20%;
    box-shadow: 0.5vmin 0.5vmin;
    width: 8vmin;
    height: 8vmin;
}

button:hover {
    background-color: black;
}